body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.container {
  width: 90%;
  padding-left: 10px;
}

body > nav {
  color: #ffe066;
}
.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  color: #fff;
}
.fixed-header {
  top: 0;
}
.fixed-footer {
  bottom: 0;
}

nav {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-auto-rows: minmax(100px, auto, auto);
  padding: 3px;
}
/* Some more styles to beutify this example */
nav div {
  color: #fff;
  margin-top: 10px;

  border: 1px solid #ffe066;
}

.header1 {
  color: aqua;
}

.container p {
  line-height: 200px; /* Create scrollbar to test positioning */
  border: 1px solid black;
}
